<head>
    <!-- Bootstrap CSS and javascript -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


    <!-- axios cdn so that I can use axios post requests -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>



    <!-- choose either online CDN or local script p5 -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.2.0/p5.min.js"></script>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <meta charset="utf-8">

    <title> Micromonde combat simulation system</title>


    <link rel="stylesheet" href="public/css/style.css" rel="stylesheet">

</head>


<body>

    <!--nav bar-->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">MCSS</a>
            </div>
            <ul class="nav navbar-nav">
                <!-- <li><a href="/home"><span class="glyphicon glyphicon-home"></span> Home</a></li> -->



                <li class="active"><a><span class="glyphicon glyphicon-screenshot"></span> Simulation in
                        Progress!</a></li>



            </ul>
        </div>
    </nav>







    <!-- Modal content -->
    <div class="questionairesBeforeTrials">
        <!-- <span class="close">&times;</span> -->
        <p>Please complete the following quizes</p>

        <ul>
            <hr>
            <br>

            <a id=quizOne href="https://cardiff.qualtrics.com/jfe/form/SV_3e2XR6XZEKUmaGO" onclick="checkQuizOne()"
                target="_blank">quiz
                1</a>

            <a id=quizOneFinished>quiz 1 finished </a>


            <hr>
            <br>

            <a id=quizTwo href="https://cardiff.qualtrics.com/jfe/form/SV_bHDpAecWItu8eN0" onclick="checkQuizTwo()"
                target="_blank">quiz
                2 </a>
            <a id=quizTwoFinished>quiz 2 finished </a>

            <hr>
            <br>

            <a id=quizThree href="https://cardiff.qualtrics.com/jfe/form/SV_7ZLj3a1LxGg0DZQ" onclick="checkQuizThree()"
                target="_blank">quiz 3</a>

            <a id=quizThreeFinished>quiz 3 finished</a>



            <hr>


        </ul>
        <button id="finishedQuizesBtn">Finished</button>

    </div>

    </div>



</body>

<script>

    //if the quizone is selected

    const quizOne = document.getElementById("quizOne");
    const quizTwo = document.getElementById("quizTwo");
    const quizThree = document.getElementById("quizThree");

    const quizOneFinished = document.getElementById("quizOneFinished");
    const quizTwoFinished = document.getElementById("quizTwoFinished");
    const quizThreeFinished = document.getElementById("quizThreeFinished");

    finishedQuizesBtn.style.display = 'none';

    // let quizOneCheck = false;
    // let quizTwoCheck = false;
    // let quizThreeCheck = false;




    function checkQuizOne() {
        quizOne.style.display = 'none';
        quizOneFinished.style.backgroundColor = "#32CD32"
        // quizOneCheck = true;
        // console.log(quizOneCheck);
        deleteQuiz("quizOneCheck");


    }

    function checkQuizTwo() {
        quizTwo.style.display = 'none';
        quizTwoFinished.style.backgroundColor = "#32CD32"
        // quizTwoCheck = true;

        // console.log(quizTwoCheck);
        deleteQuiz("quizTwoCheck");


    }
    function checkQuizThree() {
        quizThree.style.display = 'none';
        quizThreeFinished.style.backgroundColor = "#32CD32"
        deleteQuiz("quizThreeCheck");

        // quizThreeCheck = true;


    }



    // console.log(quizOneCheck);
    // console.log(quizTwoCheck);

    // console.log(quizThreeCheck);

    quizzes = ["quizOneCheck", "quizTwoCheck", "quizThreeCheck"]

    function deleteQuiz(quizDone) {

        const index = quizzes.indexOf(quizDone);

        quizzes.splice(index, 1)
        console.log(quizzes);

        if (quizzes.length == 0) {

            finishedQuizesBtn.style.display = "block"

        }

    }








    // console.log(quizOneCheck);
    // console.log(quizTwoCheck);

    // console.log(quizThreeCheck);



    finishedQuizesBtn.onclick = function () {
        sessionStorage.setItem("beforeTrialsQuestionaireFinished", "true");
        (window.location.href = '/home')
        console.log("redirecting");

    }


</script>