body {
  background-color: rgb(59, 58, 56);
  font-family: 'Courier New', monospace;
  font-size:16px;
}

canvas {
  display: block;
  position: absolute;
  left: 400px;
  top: 75px;
  border-radius: 10px;
  
}

/* links for qualtrics */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99999; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); 
  background-color: rgb(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #a5a5a5;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height:60%;
  z-index:99999;
  border-top:500px;
  
}

.modal-content p {
  margin:0; 
  display:inline;
  font-size:20px;
}

#finishedQuizesBtn{

  
left:10%;
background-color: #ff3c3c;
color: white;
padding: 14px 25px;
text-align: center;
text-decoration: none;
border-radius: 10px;
border-top:100px;
width:200px;
height:100px;

}




#quizOne{

left:10%;
background-color: #ff3c3c;
color: white;
padding: 14px 25px;
text-align: center;
text-decoration: none;
border-radius: 10px;
border-top:100px;
}

#quizTwo{

  left:10%;
  background-color: #ff3c3c;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  border-top:100px;
  width:100px
  }

  #quizThree{

    left:10%;
    background-color: #ff3c3c;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    border-top:100px;
    }

    #quizOneFinished{

      left:10%;
      background-color: #ff3c3c;
      color: white;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      border-radius: 10px;
      border-top:100px;
      }
      #quizTwoFinished{

        left:10%;
        background-color: #ff3c3c;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        border-radius: 10px;
        border-top:100px;
        }
      #quizThreeFinished{

        left:10%;
        background-color: #ff3c3c;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        border-radius: 10px;
        border-top:100px;
        }


/* CSS for the status/finished state of scenarios button */
#finishedTest {
  left:10%;
  background-color: #ff3c3c;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  
  border-radius: 10px;
}
#finished1 {
  left:10%;
  background-color: #ff3c3c;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  
  border-radius: 10px;
}
#finished2 {
  left:10%;
  background-color: #ff3c3c;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  
  border-radius: 10px;
}
#finished3{
  left:10%;
  background-color: #ff3c3c;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  
  border-radius: 10px;
}



/* vertical set of buttons on home page*/
#scenariosLinksContainer
{
  width: 500px;
 
  background-color: #252525;
  color: white;
  padding: 25px 25px;
  margin-left: 200px;
  margin-top: 100px;

  text-align: center;
  text-decoration: none;
  display:grid;

  left:300px;
  top:300px;
  border-radius: 10px;
}

.scenarioLink {
  left:10%;
  background-color: #ff3c3c;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  
  border-radius: 10px;
}

#testScenario {
  left:10%;
  background-color: #ff3c3c;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  
  border-radius: 10px;
}
#scenario1 {
  left:10%;
  background-color: #ff3c3c;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  
  border-radius: 10px;
}
#scenario2 {
  left:10%;
  background-color: #ff3c3c;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  
  border-radius: 10px;
}
#scenario3 {
  left:10%;
  background-color: #ff3c3c;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}

#testScenario:hover{
  background-color: red;
}

#scenario1:hover{
  background-color: red;
}
#scenario1:hover{
  background-color: red;
}
#scenario1:hover{
  background-color: red;
}


#scenariosFinishedContainer
{
  width: 300px;
  background-color: #252525;
  color: white;
  padding: 25px 25px;
  margin-left: 1000px;
  margin-top: -600px;

  text-align: center;
  text-decoration: none;
  display:grid;

  
  border-radius: 10px;
}

.scenarioFinished {
  left:10%;
  background-color: #ff3c3c;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  
  border-radius: 10px;
}

.scenario:hover{
  background-color: red;
  text-decoration: none;
}



/*styling for the parameters container and text*/

.parameters {
  width: 310px;
  line-height:1;
  
  font-size: 1pc;
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: rgb(177, 172, 163);
  /*border:10px solid rgb(0, 0, 0);*/
  outline: 2px solid black;
  border-radius: 10px;
}


#parametersTrackID {
  width: 300px;
  line-height:1;
  
  font-size: 1pc;
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: rgb(177, 172, 163);
  /*border:10px solid rgb(0, 0, 0);*/
  outline: 2px solid black;
  border-radius: 10px;
  
}

#parametersTrackIDHeading {
  width: 300px;
  height: 50px;
  display: flex;
  position:absolute;
  flex-direction: column;
  align-items: center;
  margin-left:2700px;
  margin-top: 40px;
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: rgb(177, 172, 163);
  /*border:10px solid rgb(0, 0, 0);*/
  outline: 2px solid black;
  border-radius: 10px;
  
}

#parametersTrackClassHeading {
  width: 400px;
  height: 50px;
  display: flex;
  position:absolute;
  flex-direction: column;
  align-items: center;
  margin-left:3500px;
  margin-top: 40px;
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: rgb(177, 172, 163);
  /*border:10px solid rgb(0, 0, 0);*/
  outline: 2px solid black;
  border-radius: 10px;
  
}


#parametersTrackClass {
  width: 400px;
  line-height:1;
  
  font-size: 1pc;
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: rgb(177, 172, 163);
  /*border:10px solid rgb(0, 0, 0);*/
  outline: 2px solid black;
  border-radius: 10px;
  
}

#dronesIdParameters{
  font-size: 8;
  width: 50px;
  height: 100%;
  display: flex;
  position:absolute;
  flex-direction: column;
  align-items: center;
  margin-left:2700px;
  margin-top: 100px;
}

#dronesClassParameters{
/* height: 100vh; */
width: 50px;
height: 100%;
display: flex;
position:absolute;
flex-direction: column;
align-items: center;
margin-left :3500px;
margin-top: 100px;
}





/*CSS for buttons*/
#hostile {
  background-color: rgb(177, 172, 163);
  width: 100px;
  
  font-size: 1pc;
  line-height: 2.5;
  border-radius: 10px;
  color: rgb(0, 0, 0);

  /*display: block;*/
  left :10px;
  top:180px;

  text-align: center;
}

#hostile:hover {
  background-color: rgb(202, 197, 193);
}

/*CSS for buttons*/
#nonHostile {
  background-color: rgb(177, 172, 163);
  width: 130px;
  font-size: 1pc;
  line-height: 2.5;
  border-radius: 10px;
  color: rgb(0, 0, 0);

  /*display: block;*/
  left :10px;
  top:180px;

  text-align: center;
}

#nonHostile:hover {
  background-color: rgb(202, 197, 193);
}

/*CSS for buttons*/
#uncertain {
  background-color: rgb(177, 172, 163);
  width: 100px;
  
  font-size: 1pc;
  line-height: 2.5;
  border-radius: 10px;
  color: rgb(0, 0, 0);

  /*display: block;*/
  left :10px;
  top:180px;

  text-align: center;
}

#uncertain:hover {
  background-color: rgb(202, 197, 193);
}
.droneButtons{
  /*
  margin-top: 10px;
  margin-bottom: 10px;
 */
 width:350px;
 background-color:rgb(177, 172, 163);
 margin: 20px 0;
 outline: 2px solid black;
 border-radius: 10px;
 text-align: center;
 margin-left:10px;
 
}


#dronesInfoContainer {
  /* height: 100vh; */
  width: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}



#dronesClass{
  /* height: 100vh; */
  width: 150px;
  height: 100%;
  display: flex;
  position:absolute;
  flex-direction: column;
  align-items: center;
  margin-left:3600px;
  margin-top: 100px;
}



/*CSS for threatbuttons*/
#confirmButton {
  background-color: rgb(177, 172, 163);
  width: 300px;
  
  font-size: 1pc;
  line-height: 2.5;
  border-radius: px;
  color: rgb(0, 0, 0);
  display: block;
  text-align: center;
  margin-top: 20px;
  border-radius: 10px;
  margin-left:25px;
  
}
#confirmButton:hover {
  
  background-color: rgb(202, 197, 193);
}


#droneTracker{
  width: 350px;
  height: 100%;
 
  
  align-items: center;
  border-left: -800px;;
  
} 

.drones{ 
  
  width: 310px;
  line-height:1;
  
  font-size: 1pc;
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: rgb(177, 172, 163);
  /*border:10px solid rgb(0, 0, 0);*/
  outline: 2px solid black;
  border-radius: 10px;
 
}




 
.logOut {
  
 
  background-color:rgb(255, 78, 65) ;
  color: white;
  padding: 14px 20px;
  margin: 8px 40%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  /*left: 600px;*/
  /*top : 600px;*/
  position: absolute;
}

.logOut[type="submit"]:hover {
  background-color: rgb(190, 63, 54) ;
}







.register {
  width: 400px;
  height: 60;
  background-color: rgb(255, 3, 62);
  color: white;
  padding: 14px 20px;
  margin: 8px 40%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  left: 30%;
  top: 40%;
  font-size: large;
}

::placeholder {
  color: rgb(141, 138, 138);
  font-size: large;

}


/*line break stlying */
hr.new1 {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;

  
}

hr:after {
  background: #fff;
  padding: 0 4px;
  position: relative;
  top: -5px;
}


#black-cover-box {
  height: 800px;
  width: 800px;
  display: none;
  background-color: black;
  position: absolute;
  z-index: 100;
  top: 75px;
  left: 400px;
  border-radius: 10px;
}




/* not working
  /* css for the sign up*/
input[type="text"],
select {
  width: 400px;
  height: 80px;
  padding: 12px 20px;
  margin: 8px 40%;
  text-align: center;
  display: list-item;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 100px;
  
}


input[type="password"],
select {
  width: 400px;
  height: 80px;
  padding: 12px 20px;
  margin: 8px 40%;
  text-align: center;

  display: list-item;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* CSS for the iframe elements */
















